
        @font-face {
            font-family: "Datafont";
            src: url(Font/Datafont.ttf);
        }
            body{
            font-family: "Datafont";
            margin: 10px;
            margin-top: 5px;
            background-image: url("Images/background.png");
            background-size: 100% auto;
        }
        
        /*Low bottom Arami*/
        .arami{
            margin-bottom: -45px;
            margin-left: -40px;
            max-width: 200px;
            text-align: bottom left;
            filter: opacity(90%)
        }

        /*Caja de preguntas*/

        .caja{
            max-width: 700px;
            margin: auto;
            padding: 20px;
            box-sizing: border-box;
            color: rgba(34, 18, 18, 0.9);
        }
        .caja h1{
            text-align: center;
            font-size: 40px;
            letter-spacing: 1.5px;
        }
        .caja h3{
            font-size: 25px;
            letter-spacing: 1.5px;
            hyphens: auto;
            margin-bottom: 0px;
        }
        .caja p{
            text-align: justify;
            font-size: 20px;
            line-height: 1.3rem;
            letter-spacing: 0.2px;
            hyphens: auto;
            margin-top: 3px;
        }

        /*Medias*/
        
    @media (max-width: 480px) {
        .caja h1{
            text-align: center;
            font-size: 30px;
        }
        .caja h3{
            font-size: 25px;
        }
        .caja p{
            text-align: justify;
            font-size: 18px;
            line-height: 1.3rem;
        }
    }
    @media (max-width: 363px) {
        .caja h1{
            text-align: center;
            font-size: 23px;
        }

}

