        @font-face {
            font-family: "Font1";
            src: url("Font/imposs_accents.ttf");
        }     
        body{
            font-family: "Font1";
            margin: 15px;
            margin-top: 5px;
            background-image: url("Images/background.png");
            background-size: 100% auto;
        }

        .arami{
            display: block;
            max-width: 140px;
            text-align: top right;
        }
        .arami2{
            margin-bottom: -45px;
            margin-left: -40px;
            max-width: 200px;
            text-align: bottom left;
            filter: opacity(90%)
        }

        /*Caja de preguntas*/

        .caja{
            max-width: 110vh;
            margin: auto;
            padding: 20px;
            box-sizing: border-box;
            color: rgba(0,0,0,0.9);
            color: rgb(34, 18, 18);
        }
        .caja h1{
            text-align: center;
            font-size: 40px;
        }
        .caja h3{
            font-size: 25px;
        }
        .caja p{
            text-align: justify;
            font-size: 20px;
            line-height: 1.3rem;
        }

    @media (max-width: 480px) {
        .caja h1{
            text-align: center;
            font-size: 30px;
        }
        .caja h3{
            font-size: 25px;
        }
        .caja p{
            text-align: justify;
            font-size: 18px;
            line-height: 1.3rem;
        }
    }
    @media (max-width: 363px) {
        .caja h1{
            text-align: center;
            font-size: 23px;
        }

}

